body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

h3 {
  text-align: center;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}

textarea {
  width: 100%;
  margin-top: 5px;
}

select {
  width: 100%;
  padding: 5px;
}
